<div class="card" style="width: 12rem;">
    <img class="card-img-top" [src]="item.links.mission_patch_small" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">{{item.mission_name}} #{{item.flight_number}}</h5>
      <h5 class="card-title">Mission ids: {{item.mission_id}}</h5>
      <h5 class="card-title">Launch Year: {{item.launch_year}}</h5>
      <h5 class="card-title">Successful Launch: {{item.launch_success}}</h5>
      <h5 class="card-title">Successful landing:  </h5>
    </div>
  </div>
  
